/**
 * style.css
 * - Add any styles you want here!
 */

body {
  text-align: center;
  font-family: 'Amiko';
  font-style: bold;
}

#title-page {
  font-size: 50px;
  color: red;
}



div #poster, #actors, #plot, #genre, #year., #country, #director, #language {
  font-size: 10px;
}

.categories {
 font-weight: bold;
}