/**
 * style.css
 * - Add any styles you want here!
 */

body {
  text-align: center;
  font-family: 'Amiri', serif;
  font-style: bold;
  
}

#title-page {
  font-family: 'Poller One', cursive;
  font-size: 50px;
  color: red;
}

#error {
  color: red;
}

.movieData {
  text-align: left;
}

.categoryTitle {
  font-family: 'Poller One', cursive;
  font-size: 24px;
  font-weight: bold;
  padding-bottom:5px;
  padding-top: 15px;
}

p {
 font-size: 16px;
}

